.popup {
  position: fixed;
  z-index: 20;

  width: 100%;
  height: 100%;
  background-color: $black-03-opacity;

  & form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 70px 98px 81px;
    width: 736px;
    max-width: 100%;

    border: 1px solid $secondary-color-4;
    border-radius: 45px;
    background-image: $popup-gradient;
  }
}

.popup__caption {
  margin: 0;
  margin-bottom: 22px;

  font-family: $museo;
  font-size: 35px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.02rem;
}

.popup__text {
  position: relative;
  z-index: 10;
  margin: 0;
  margin-bottom: 36px;

  font-family: $museo;
  font-size: 17px;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: -0.013rem;
  text-align: center;
}

.popup__input-column {
  height: 179px;
  transform-origin: 0 0;
  transition: all .2s ease-in;

  opacity: 1;

  &.js-select-close {
    height: 0;
    
    transform-origin: 0 0;
    transform: scaleY(0);
    transition: all .2s ease-in;
  
    opacity: 0;
  }
}

.popup__input {
  position: relative;
  z-index: 10;

  margin: 0 auto 15px;
  padding: 29px 45px;
  display: block;
  width: 93%;

  font-family: $museo;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.03rem;

  border-radius: 45px;
  background-color: $white;
  border: 1px solid $secondary-color-7;

  & svg {
    position: absolute;
    top: 50%;
    right: 35px;
    fill: $secondary-color-8;

    transform: translateY(-50%) rotate(90deg);
    transition: all 0.5s ease-in;
  }

  &.js-select-active {
    & svg {
      transform: translateY(-50%) rotate(-90deg);
      transition: all 0.5s ease-in;
    }
  }

  &:focus,
  &:hover,
  &:active {
    border: 1px solid $black-08-opacity;

    & svg {
      fill: $black;
    }
  }
}

.popup__button {
  z-index: 10;
  margin: 16px auto 0;
  padding: 29px 76px;
  width: 93%;

  letter-spacing: 0.19rem;

  border: transparent;

  & img {
    right: -12%;
  }
}

.popup__img {
  position: absolute;
  top: 27.5%;
  left: -111px;
}

.popup__success {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 125px 77px;
  width: 523px;
  max-width: 100%;

  border: 1px solid $secondary-color-4;
  border-radius: 45px;
  background-image: 
    url("../img/leaf-1.png"),
    $popup-gradient;
  background-position:
    200% 2657%,
    center;
  background-repeat: no-repeat;

  & img {
    display: block;
    margin: 0 auto 17px;
  }
}

.popup__succes-text {
  margin: 0;

  font-family: $museo;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.037rem;
  text-align: center;

  & b {
    display: block;
  }
}

.popup__close {
  position: absolute;
  top: 38px;
  right: 40px;
  padding: 0;

  border: none;
  background-color: transparent;

  & svg {
    fill: $secondary-color-8;
  }

  &:focus,
  &:hover,
  &:active {
    cursor: pointer;

    & svg {
      fill: $black;
    }
  }
}

@media(max-width:992px) {
  .popup {
    & form {
      padding: 70px 35px 81px;

      max-height: 100%;

      overflow-y: scroll;
    }
  }

  .popup__caption {
    text-align: center;
  }

  .popup__input {
    padding: 29px 25px;
  }

  .popup__button {
    display: flex;
    justify-content: center;
    padding: 29px 35px;

    & img {
      display: none;
    }
  }

  .popup__success {
    padding: 72px 35px 77px;

    max-height: 100%;

    overflow-y: scroll;
  }

  .popup__succes-text {
    & b {
      margin-bottom: 10px;
    }
  }
}