@keyframes radial-pulse {
  0% {
    box-shadow: 2px 2px 0px 0px $primary-color-2;
  }

  50% {
    box-shadow: 2px 2px 5px 5px $primary-color-3;
  }

  100% {
    box-shadow: 2px 2px 0px 0px $primary-color-2;
  }
}
