$desktop: 1280px;
$min-desktop: 1000px;
$tablet: 767px;

$white: #ffffff;
$white-a50: rgba(255, 255, 255, 0.5);
$black: #000000;
$black-03-opacity: rgba(0, 0, 0, 0.3);
$black-08-opacity: rgba(0, 0, 0, 0.8);

$text-color: $black;

$primary-color-1: #ff6078;
$primary-color-2: #dc7980;
$primary-color-3: #f4a0a4;
$primary-color-4: #f9b5b6;
$primary-color-5: #f2969b;
$primary-color-6: #ef8c92;
$primary-color-7: #d7747a;
$primary-color-8: #ef9499;

$secondary-color-1: #ebeaea;
$secondary-color-2: #fbfbfa;
$secondary-color-3: #f5eeef;
$secondary-color-4: #fbeeef;
$secondary-color-5: #fcfdfd;
$secondary-color-6: #fcf2ee;
$secondary-color-7: #faf1f1;
$secondary-color-8: #c4c9ce;

$third-color-1: #27b24b;

$appetite: "AppetiteNew", "Arial", sans-serif;
$museo: "MuseoSansCyrl", "Arial", sans-serif;

$header-icon-shadow: 0px 0px 16px rgba(248 , 248 , 248 , 0.3);

$popup-gradient: linear-gradient( to top right, $secondary-color-5, $secondary-color-6);


